{% extends "bootstrap/base.html" %}


{{super()}}
{% block title %}
todo-flask
{% endblock title%}



{% block content %}

<!--
<link rel="stylesheet" href="static/css/style.css">
-->

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Flask todo</a>
            </div>
            <form class="navbar-form navbar-left" action="/add" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="task" name="todoitem">
                </div>
                <input type="submit" class="btn btn-default">
            </form>
        </div>
    </nav>

        <ul class="list-group">
        {% for todo in todos %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-10">
                        <h4>{{ todo['text'] }}</h4>
                        <h4>{{ todo['complete'] }}</h4>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" role="group" aria-label="...">
                            <form action="/update/{{ todo['id'] }}" method="POST">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            </form>
                            <form action="/remove/{{ todo['id'] }}" method="POST">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </li>

        {% endfor %}
        </ul>

</div>
{% endblock %}